<ion-grid fixed >
    <ion-row>
      <ion-col size="4"><img src="{{url}}" alt="Profile Image" class="profile-image"></ion-col>
      <ion-col size="6">
        <ion-card-subtitle>{{name}}</ion-card-subtitle>
        <ion-card-subtitle>{{contry}}</ion-card-subtitle>


      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-icon name="like" ></ion-icon><ion-text style="color: green;font-size: 10px;">2</ion-text>
        <ion-icon name="dislike" ></ion-icon><ion-text style="color: red;font-size: 10px;">2</ion-text>

      </ion-col>
      <ion-col size="6"> <ion-card-subtitle>{{job}}</ion-card-subtitle></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button  class="card-button" expand="block"  shape="round">
    Disqualified
  </ion-button>
